#plainview_lane_booking_editor {
  overflow: hidden; }
  #plainview_lane_booking_editor .column {
    border: solid gray thin;
    border-radius: 0.25em;
    margin-right: 1em;
    float: left;
    width: 20em; }
    #plainview_lane_booking_editor .column .column_heading {
      font-size: 120%;
      font-weight: bold;
      text-align: center;
      background-color: #29ea2e;
      padding: 0.25em 0.5em; }
    #plainview_lane_booking_editor .column .column_subheading {
      background-color: #e3fce3;
      padding: 0.25em 0.5em; }
    #plainview_lane_booking_editor .column .passive.section {
      border-color: black;
      border-style: solid;
      border-width: thin 0 0 0; }
  #plainview_lane_booking_editor .container.clickable {
    cursor: pointer; }
  #plainview_lane_booking_editor .container.clickable:hover {
    background-color: #64b37b; }
  #plainview_lane_booking_editor .container.clickable.selected {
    background-color: #3a774c; }
  #plainview_lane_booking_editor .participants .participant.active .name {
    font-weight: bold; }
  #plainview_lane_booking_editor .participants .participant.active.assigned_active {
    font-style: italic; }
    #plainview_lane_booking_editor .participants .participant.active.assigned_active .name {
      font-weight: inherit; }
  #plainview_lane_booking_editor .participants .participant.clickable {
    cursor: pointer; }
  #plainview_lane_booking_editor .participants .participant.clickable:hover {
    background-color: #ffc966; }
  #plainview_lane_booking_editor .participants .participant.passive {
    /**background-color: #c7c6be;**/ }
    #plainview_lane_booking_editor .participants .participant.passive .name {
      font-weight: bold; }
    #plainview_lane_booking_editor .participants .participant.passive.assigned_passive {
      font-style: italic; }
      #plainview_lane_booking_editor .participants .participant.passive.assigned_passive .name {
        font-weight: inherit; }
  #plainview_lane_booking_editor .participant {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding: 0.25em 0.5em; }
    #plainview_lane_booking_editor .participant.gun_loan {
      background-color: #fee800; }
    #plainview_lane_booking_editor .participant .gun_class {
      text-align: center;
      width: 1em; }
  #plainview_lane_booking_editor .lane {
    display: flex;
    margin-top: 0.5em;
    margin-bottom: 0.5em; }
    #plainview_lane_booking_editor .lane.passive .lane_identifier {
      color: transparent; }
    #plainview_lane_booking_editor .lane .lane_identifier {
      text-align: center;
      width: 2em; }
    #plainview_lane_booking_editor .lane .participant {
      flex-grow: 2;
      margin: 0;
      padding: 0; }
  #plainview_lane_booking_editor .tools {
    clear: both;
    padding-top: 1em; }
    #plainview_lane_booking_editor .tools li span {
      cursor: pointer; }

.tribe-events-meta-group-details .pvlb .participants div.participant {
  display: flex;
  justify-content: space-between; }
  .tribe-events-meta-group-details .pvlb .participants div.participant:nth-child(even) {
    background-color: rgba(230, 230, 230, 0.5); }
