.plainview_lane_booking_schedule_html table {
  border: solid thin black;
  border-spacing: 0;
  box-shadow: 0.5em 0.5em 0.2em 0.2em rgba(0, 0, 0, 0.1);
  margin-bottom: 2em; }
  .plainview_lane_booking_schedule_html table caption {
    font-size: 130%;
    font-weight: bold;
    margin-bottom: 0.25em; }
  .plainview_lane_booking_schedule_html table th, .plainview_lane_booking_schedule_html table td {
    padding: 0.25em 1em; }
  .plainview_lane_booking_schedule_html table td#lane_id {
    text-align: center; }
  .plainview_lane_booking_schedule_html table tbody tr:nth-child(odd) {
    background: #eee; }
