@mixin clickable_container_hovering
{
	background-color: lighten( #3a774c, 20% );
}

#plainview_lane_booking_editor
{
	$primary_color: #29ea2e;

	overflow: hidden;

	.column
	{
		border: solid gray thin;
		border-radius: 0.25em;
		margin-right: 1em;

		float: left;
		width: 20em;

		.column_heading
		{
			font-size: 120%;
			font-weight: bold;
			text-align: center;
			background-color: $primary_color;
			padding: 0.25em 0.5em
		}

		.column_subheading
		{
			background-color: lighten( $primary_color, 40% );
			padding: 0.25em 0.5em
		}

		.passive.section
		{
			border-color: black;
			border-style: solid;
			border-width: thin 0 0 0;
		}
	}

	.container
	{
		&.clickable
		{
			cursor: pointer;
		}

		&.clickable:hover
		{
			@include clickable_container_hovering;
		}

		&.clickable.selected
		{
			background-color: #3a774c;
		}
	}

	.participants
	{
		.participant
		{
			&.active
			{
				.name
				{
					font-weight: bold;
				}

				&.assigned_active
				{
					font-style: italic;

					.name
					{
						font-weight: inherit;
					}
				}
			}

			&.clickable
			{
				cursor: pointer;
			}

			&.clickable:hover
			{
				background-color: lighten( orange, 20% );
			}

			&.passive
			{
				/**background-color: #c7c6be;**/
				.name
				{
					font-weight: bold;
				}

				&.assigned_passive
				{
					font-style: italic;

					.name
					{
						font-weight: inherit;
					}
				}
			}
		}
	}

	.participant
	{
		display: flex;
		justify-content: space-between;
		margin-top: 0.5em;
		margin-bottom: 0.5em;
		padding: 0.25em 0.5em;

		&.gun_loan
		{
			background-color: #fee800;
		}

		.gun_class
		{
			text-align: center;
			width: 1em;
		}
	}

	.lane
	{
		display: flex;
		margin-top: 0.5em;
		margin-bottom: 0.5em;

		&.passive
		{
			.lane_identifier
			{
				color: transparent;
			}
		}

		.lane_identifier
		{
			text-align: center;
			width: 2em;
		}

		.participant
		{
			flex-grow: 2;
			margin: 0;
			padding: 0;
		}
	}

	.tools
	{
		clear: both;
		padding-top: 1em;

		li span
		{
			cursor: pointer;
		}
	}
}
