.tribe-events-meta-group-details
{
	.pvlb
	{
		.participants
		{
			div.participant
			{
				&:nth-child(even)
				{
					background-color: rgba( 230, 230, 230, 0.5 );
				}

				display: flex;
				justify-content: space-between;
			}
		}
	}
}
